html{
    scroll-behavior: smooth;
}

body{
    background-color: #FF7777;
}

ul{
    padding-top: 10px;
    top: 0;
    width: 100%;
    background-color: #17929E;
    border-radius: 10px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}

li{
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

a.nav{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-size: 70px;
}

/*a:hover{
    color: #EFEFEF;
}*/

p{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 95%;
    margin-left: 10px;
}

h1{
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-size: 80px;
    margin-left: 50px;
}

.main{
    margin-top: 30px;
}

button{
    background: none;
    width: 15%;
    border-style: none;
}

.center{
  margin-left: 30px;
  margin-right: 50px;
}

.kilian{
    border-color: white;
    border-style: solid;
    border-width: thick;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
    width: 95%;
}

.logo{
    margin-left: 10px;
    width: 3%;
}

.foto{
    border-color: white;
    border-style: solid;
    border-width: thick;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    width: 50%;
    margin-left: 300px;
    margin-right: 500px;
}

.kontakt{
    background-color: #17929E;
    padding-left: 100px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-size: 50px;
}